
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Amiri&family=Arima:wght@700&family=Bebas+Neue&family=Big+Shoulders+Display&family=Bree+Serif&family=Cinzel&family=Edu+NSW+ACT+Foundation:wght@600;700&family=Epilogue:wght@500;700&family=Fugaz+One&family=Grape+Nuts&family=Inter:wght@300;700&family=Josefin+Sans:wght@300;400;600&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Kumar+One+Outline&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Licorice&family=Lobster&family=Lobster+Two:wght@700&family=Macondo&family=Manrope:wght@500&family=Montserrat:wght@900&family=Mouse+Memoirs&family=Oleo+Script+Swash+Caps&family=Open+Sans&family=Oswald&family=Outfit:wght@300;400;600&family=Overpass&family=Pacifico&family=Permanent+Marker&family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@400;600&family=Righteous&family=Roboto:wght@700&display=swap');

 
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.roompage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
flex-wrap: wrap;
}

.room-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-origin: content-box;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(./Assets/Mask\ Group\ \(2\).png)

}


header {
   
    width: 100%;
    height: 100px;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    /* padding-top: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: "zen Antique Soft";


}
.logo {
    width: 230px;
    height: 150px;
}
nav {
    width: 60%;
    height: 100%;
    color: #ffffff;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 
}   
nav ul {
    list-style-type: none;
    height: 40px;
    width: 600px;
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    width: 100%;
    height:800px;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   /* background-color:aqua ; */
}
 .welcome-page {
    width: 74%;
    height: 500px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: column;
  /* background-color: blueviolet; */
}
.welcome-page h1 {
    font-size: 130px;
    font-weight: bold;
    line-height: 110px;
    /* background-color: #14274A; */
    font-family: "Bowlby One SC";
    margin: 0;
    padding: 0;
}
.welcome-page h4 {
    font-size: 50px;

  letter-spacing: 14px;
  /* background-color: orange; */
  margin: 0;
  padding: 0;
}
.welcome-page h2 {
    font-size: 45px;
    line-height: 1.6;
    letter-spacing: 3px;
    font-weight: lighter;
font-family: "Encode Sans";
  margin: 0;
  padding: 0;
  
}
.welcome-page p {
    font-size: 30px; 
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    

}
.book {
    font-size: 25px; 

}
.btn-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: red; */
}
.scroll {
    width: 100%;
    height: 120px;
    flex-direction: column;
    display: flex;
  justify-content: end;
    align-items: center;
    font-size: 23px;
    /* background-color: #f19f07; */
}
.scroll img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.scroll h6 {
    margin: 0;
    font-size: 18px;
}

 .button {
    width: 180px;
    height: 55px;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color:#E0B973 ;
    border: none;
}

/* ''''''''''room typeas''''''''''''''''''''''''' */
.room-types {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.room-types p{
    font-size: 20px;
   text-align: center;
   color: #14274A;

}
.room-types h1 {
    font-size: 40px;
    font-weight: bold;
    color: #14274A;
}

.single-room ,
.double-room,
.twin-room{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.room-img {
    width: 100%;
    height: 720px;
 
}
.room-name {
width: 100%;
height: 70px;
background-color: #14274A;
font-size: 30px;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.room-details {
    width:99.7%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(130, 124, 124);
  border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
  
}
.room-details button {
    width: 200px;
    height: 50px;
    background-color: #E0B973;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
.room-details span {
 
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 25px;
    gap : 20px;
}

.room-details span button {
    width: 50px;
    height: 50px;
    background-color: #E0B973;
    border: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    color: white;
}
.room-img img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
}
/* ''''''''''''testimonial section '''''''' */
#testimonial {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 0;
    font-size: 15px;
    color: #14274A;
}
#testimonial h1 {
    font-size: 40px;
    font-weight: bold;

}
#testimonial p {
    font-size: 25px;
   
}
#testimonial h6 {
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bold;
}

.angle {
    width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 50px solid #14274A;
}
/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150x;
    font-size: 15px;
    color: white;
    background-color: #14274A;
    
}
.box3 div {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
   
}


.box4 span {
    display: flex;
    padding: 0;
}
input {
    width: 200px;
    height: 30px;
    border: 2px solid #E0B973;
    /* padding: 0 10px; */
    background-color:#14274A ;
}
.footer-btn {
width: 50px;
height: 39px;
background-color: #fae091;
color: black;
}